.profile {
    width: 190px;
    text-align: center;
    align-content: center;
    align-items: center;
}
.publication {
    text-align: center;
}
.js {
    justify-content: space-evenly;
}
.je {
    justify-content: space-between;
}

.space-a {
    margin-top: 10px;
}
.space-b {
    margin-bottom: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.dev_user {
    padding-bottom: 5px;
}

.container {
    width: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.select-tags {
    max-width: 100px;
    
}
.select-tags > .option {
    max-width: 100px;
}

.tagLabel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}