
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.dev_user {
    padding-bottom: 5px;
}

.container {
    width: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.tagLabel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}